name: CI/CD Pipeline

on:
  push:
    branches:
      - master


jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker images
        run: docker compose build

      - name: Start services
        run: docker compose up -d

      - name: Wait for PostgreSQL
        run: sleep 15

      - name: Run backend tests
        run: docker compose exec backend npm test

      - name: Run frontend tests
        run: docker compose exec frontend npm test -- --watchAll=false --passWithNoTests

      - name: Stop services
        if: always()
        run: docker compose down
